/*==============================================
Author: Jeffrey Primavera
Version:    1
Created:    13 May 2023
Last updated:    
Template:  Mobile/Web React Template
================================================*/

/*
[Table of Contents]
★ 00 Global Custom CSS
★ 01 Header CSS
★ 03 Aside Sidenav CSS 
★ 04 Top Banner CSS
★ 05 Homepage Promo Swiper CSS


/******************************** 00 Global Custom CSS ********************************/
:root {
    --nav-width: 8px;
}

body {
    background: #0d1015;
}
.dark-1 {
    background-color: #192028;
}
main {
    transition: 0.5s;
}

/******************************** 01 Header CSS ********************************/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 104;
}
.show {
    left: 0;
}
.space-toggle {
    padding-left:  calc(var(--nav-width) + 0 );
}

/******************************** 03 Aside Sidenav CSS ********************************/
aside {
    height: 100%;
    background: #11171d;
    padding-top: 95px;
    position: fixed;
    z-index: 103;
    left: -30%;
    top: 0;
    bottom: 0;
    transition: 0.5s;
}

/******************************** 04 Top Banner CSS ********************************/
.top__banner {
    background: url(/images/top-banner.png) no-repeat 0 0;
    width: 100%;
    background-size: cover;
}
.top__banner .title__wrapper {
    line-height: 62px;;
}
.top__banner .title__wrapper span > span{
    color: #F53077;
}

/******************************** 05 Homepage Promo Swiper CSS ********************************/
.hp__promo__swiper i {
    background: #16202c;
    height: 50px;
}
.hp__promo__swiper .icon-arrow-long-left {
    border-radius: 8px 0 0 8px;
}
.hp__promo__swiper .icon-arrow-long-right {
    border-radius: 0 8px 8px 0; 
}