/*==============================================
Author: Jeffrey Primavera
Version:    1
Created:    13 May 2023
Last updated:    
Template:  Mobile/Web React Template
================================================*/

/*
[Table of Contents]
★ 00 Global Custom CSS
★ 01 Header CSS
★ 02 Aside Sidenav CSS 
★ 03 Top Banner CSS
★ 04 Homepage Promo Swiper CSS
★ 05 Homepage Banners CSS
★ 06 Homepage Tabs CSS
*/


@import "_variables.scss";
@import "_mixins.scss";

/******************************** 00 Global Custom CSS ********************************/
:root {
    --nav-width: 8px;
    background-color: #0d1015;
    --scrollprimary: #0c1014;
    --scrollsecondary: #3d4451;
}
body {
    background-color: $bgColorBody;
    font-size: 14px;
    font-family: $fonts;
}

.link__color1 {
    color: $text-color1 ;
}
.yellow-orange {
    color: $yellow-orange-color;
}
.dark-1 {
    background-color: $bgColorDarkBlue1;
}
.dark-2 {
    background-color: $bgColorDarkBlue2;
}
.bg-blue1 {
    background-color: $bgBlue1;
}
.min-40 {
    min-height: $min-h-40;
}
.sideNavList {
    @include flex-left; 
}  
.ovf-inherit {
    overflow: $overflow-inherit;
}
.border__1 {
    border: 1px rgb(255 255 255 / 24%) solid;
}
.border__line__btn {
    border-color: transparent;
    background-clip: padding-box,border-box;
    background-origin: padding-box,border-box;
    background-image: -webkit-linear-gradient(left,#192028,#192028),-webkit-linear-gradient(198.08deg,#4dadf3 0%,#fb4988 100%);
    background-image: -moz-linear-gradient(left,#192028,#192028),-moz-linear-gradient(198.08deg,#4dadf3 0%,#fb4988 100%);
    background-image: linear-gradient(to right,#192028,#192028),linear-gradient(251.92deg,#4dadf3 0%,#fb4988 100%);
}
body.ReactModal__Body--open {
    .ReactModalPortal {
        .ReactModal__Overlay {
            opacity: 0;
            transition: opacity 200ms ease-in-out;

            .ReactModal__Content {
                box-shadow: 0 4px 64px rgba(0, 0, 0, 0.25);
                border-radius: 10px !important;
                border: 1px rgb(255 255 255 / 26%) solid !important;
            }

            &.ReactModal__Overlay--after-open {
                opacity: 1;
            }
            &.ReactModal__Overlay--before-close {
                opacity: 0;
            }
        }
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--secondary);
  }
  *::-webkit-scrollbar {
    width: 7px;
  }
  *::-webkit-scrollbar-track {
    background: var(--primary);
  }
  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 80px;
    border: 3px solid var(--primary);
  }

/******************************** 01 Header CSS ********************************/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 104;
}
.show {
    left: 0;
}

/** Responsive Sidenav **/
.space-toggle {

    padding-left:  calc(var(--nav-width) + 60px );

    aside {
        left: -300px;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 80px 0 0 5px;
    }

    .desktop__sidenav {
        display: none;
    }

    .desktop__mini__sidenav {
        display: block;

        .vip__perls {

            ul {
                top: -10px;
                left: 5px;
                z-index: 20;
            }

        }

        .box__link {
            margin: 0 auto;

            ul {
                li {
                    a {
                        margin: 0 auto;
                        img {
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }

}

.currency__wrapper {

    .font-semibold.text-2xl {
        padding-bottom: 25px;
        border-bottom: 1px rgb(255 255 255 / 16%) solid;
        margin-bottom: 25px;

    }
    .link__color1 {
        padding-bottom: 20px;
    }

}

.desktop__mini__sidenav {
    display: none;
}

/******************************** 02 Aside Sidenav CSS ********************************/
aside {
    height: 100%;
    background: #11171d;
    padding: 80px 20px 20px 20px;
    position: fixed;
    z-index: 103;
    left: -230px;
    top: 0;
    bottom: 0;
    transition: 0.5s;
}

/******************************** 03 Top Banner CSS ********************************/
.hero__bg1 {
    background: url(/images/top-banner.png) no-repeat 0 0;
}
.hero__bg2 {
    background: url(/images/top-banner-slots.png) no-repeat 0 0;
}
.top__banner {
    width: 100%;
    background-size: 100%;
    zoom: 1;

    .title__wrapper  {
        line-height: 62px;

        span > span {
            color: #F53077;
        }
    }
    @media (min-width: $layout-breakpoint-lg-1) {
        padding-bottom: 0.5rem;
    }
}


/******************************** 04 Homepage Promo Swiper CSS ********************************/
.hp__promo__swiper {

    i {
        background: #16202c;
        height: 50px;
        width: 24px;
        margin: auto 0;
        
        &.icon-arrow-long-left  {
            border-radius: 8px 0 0 8px;
        }

        &.icon-arrow-long-right {
            border-radius: 0 8px 8px 0;
            
        }
    }
    
}

/******************************** 05 Homepage Banners CSS ********************************/
.hp__banners__bg {
    width: 100%;
    zoom: 1;
    height: 300px;
    padding: 40px;

    &.casino__bg {
        background: url(/images/hp-casinno-banner.jpg) no-repeat;
        background-size: cover;
    }

    &.sports__bg {
        background: url(/images/hp-sports-banner.jpg) no-repeat;
        background-size: cover;
    }

    .hpb__content__wrapper {

        span {
            span {
                padding-top: 10px;
            }

        }

    }

}


/******************************** 06 Homepage Tabs CSS ********************************/
.tabs__wrapper {
    ul {
        border: 0;
        
        li {
            background: #192028;
            color: #909999;
            margin-right: 15px;
            padding: 10px 20px;
            border-radius: 5px;

            &.react-tabs__tab--selected {
                border-color: transparent;
                background-clip: padding-box, border-box;
                background-origin: padding-box, border-box;
                background-image: linear-gradient(to right, #192028, #192028), linear-gradient(251.92deg, #4dadf3 0%, #fb4988 100%);
                color: #fff;
                border-bottom: 1px transparent solid;
            }
            &:focus:after {
                display: none;
            }

        }
    }
}

.game__wrapper {

    .game__box {
        
        figure {

            background-color: #202a39;
            background-image: linear-gradient(to right,#1b2233 0%,#191f2e 10%,#1b2233 20%,#1b2233 100%);
            background-size: 200% 100%;
            animation: pulse-bg 1.2s linear infinite;
            height: 100%;

            .img__thumb img {
                transition: transform .5s ease;
            }

            figcaption {
                background: rgb(0 0 0 / 43%);
                padding: 0 2px;

                span {
                    background: $red-color;
                    margin: 0 auto;
                }
            }
        }
        &:hover figcaption {
            opacity: 1;
            visibility: visible;
        }
        &:hover figure .img__thumb img {
            filter: blur(8px);
            -webkit-filter: blur(5px);
            transform: scale(1.2);
        } 
    }
    
}
@keyframes pulse-bg {
    0% {
        background-postion: 50% 0
    }

    100% {
        background-position: -150% 0
    }
}

.loading__btn button:before {
    display: none;
}
