@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


/** Gradient system **/
$gradients: () !default;
$gradients: map-merge((
    chill: linear-gradient(135deg, #09e485 0%,#0291e3 100%),
    warm: linear-gradient(135deg, #d53369 0%,#cbad6d 100%),
    behongo: linear-gradient(135deg, #52c234 0%,#061700 100%),
    cold: linear-gradient(135deg, #8019C6 0%,#2F93CC 100%),
    neuromancer: linear-gradient(135deg, #f953c6 0%,#b91d73 100%),
    lemontwist: linear-gradient(135deg, #3CA55C 0%,#B5AC49 100%),
    loveliberty: linear-gradient(135deg, #200122 0%,#6f0000 100%)
), $gradients);

// Gradient backgrounds
@mixin bg-gradient($parent, $gradient) {
    #{$parent} {
      background: $gradient;
    }
}

// Gradient text
@mixin text-gradient($parent, $gradient) {
    #{$parent} {
      background-image: $gradient;
      color:transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }

// Gradient Classes 
@each $gradient, $value in $gradients {
    @include bg-gradient(".bg-gradient-#{$gradient}", $value);
}

// Text Gradient Classes 
@each $gradient, $value in $gradients {
    @include text-gradient(".text-gradient-#{$gradient}", $value);
  }