$fonts: 'Poppins', Helvertica, sans-serif;
$bgColorBody: #0d1015;
$bgColorDarkBlue1: #192028;
$bgColorDarkBlue2: #0c1014;
$bgBlue1: #16202c;
$text-color1: #909999;
$red-color: #ed1d49;
$min-h-40: 40px;
$overflow-inherit: inherit;
$yellow-orange-color: #f8a101;

//Media Querie
$layout-breakpoint-lg-1: 1400px;

